In [11]:
!pip install --user geopy

Requirement already satisfied: geopy in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.18.1)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geopy) (1.49)

In [15]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")
city ="London"
country ="Uk"
loc = geolocator.geocode(city+','+ country)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)

latitude is :- 51.5073219
longtitude is:- -0.1276474

In [16]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode("Toronto, North York, Parkwoods")

print(location.address)
print('')
print((location.latitude, location.longitude))
print('')
print(location.raw)

Parkwoods Village Drive, Parkway East, Don Valley East, North York, Toronto, Golden Horseshoe, Ontario, M3A 2X2, Canada

(43.7587999, -79.3201966)

{'place_id': 124974741, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 160406961, 'boundingbox': ['43.7576231', '43.761106', '-79.3239088', '-79.316215'], 'lat': '43.7587999', 'lon': '-79.3201966', 'display_name': 'Parkwoods Village Drive, Parkway East, Don Valley East, North York, Toronto, Golden Horseshoe, Ontario, M3A 2X2, Canada', 'class': 'highway', 'type': 'secondary', 'importance': 0.51}

In [17]:
import pandas as pd
df_geopy = pd.DataFrame({'PostalCode': ['M3A', 'M4A', 'M5A'],
                         'Borough': ['North York', 'North York', 'Downtown Toronto'],
                         'Neighbourhood': ['Parkwoods', 'Victoria Village', 'Harbourfront'],})

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")

In [21]:
df3=df_geopy

In [23]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")

df_geopy['address'] = df3[['PostalCode', 'Borough', 'Neighbourhood']].apply(lambda x: ', '.join(x), axis=1 )
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address
0,M3A,North York,Parkwoods,"M3A, North York, Parkwoods"
1,M4A,North York,Victoria Village,"M4A, North York, Victoria Village"
2,M5A,Downtown Toronto,Harbourfront,"M5A, Downtown Toronto, Harbourfront"

In [24]:
df_geopy.shape

(3, 4)

In [25]:
df_geopy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
PostalCode       3 non-null object
Borough          3 non-null object
Neighbourhood    3 non-null object
address          3 non-null object
dtypes: object(4)
memory usage: 176.0+ bytes

In [28]:
df_geopy.drop(df_geopy[df_geopy['Borough']=="Notassigned"].index,axis=0, inplace=True)
df_geopy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 4 columns):
PostalCode       3 non-null object
Borough          3 non-null object
Neighbourhood    3 non-null object
address          3 non-null object
dtypes: object(4)
memory usage: 120.0+ bytes

In [30]:
df_geopy.to_csv('geopy1.csv')

In [31]:
df3.to_csv('geopy.csv')

In [32]:
import csv

with open('geopy.csv') as csvfile:
     reader = csv.DictReader(csvfile)

In [33]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my-application")
location = geolocator.geocode("M1B Scarborough Rouge,Malvern")

In [34]:
import numpy as np
import csv


PostalCode = None
Borough = None
Neighbourhood = None
latData = None
longData = None

LAT_Woburn = 43.7598243
LONG_Woburn = -79.2252908
LAT_Malvern = 43.8091955
LONG_Malvern = -79.2217008
LAT_Highland_Creek = 43.7901172
LONG_Highland_Creek = -79.1733344
LAT_Morningside = 43.7826012
LONG_Morningside = -79.2049579

 
PostalCode = np.array(['M1H','M1B','M1C','M1G '])
Borough = np.array(['Scarborough','Scarborough','Scarborough','Scarborough'])
Neighbourhood = np.array(['Woburn','Malvern','Highland_Creek','Morningside'])
latData = np.array([43.7598243,43.8091955, 43.7901172 , 43.7826012])
longData = np.array([-79.2252908,-79.2217008,-79.1733344, -79.2049579 ])

with open('data.csv', 'w') as file:
    writer = csv.writer(file, delimiter=',')
    writer.writerow('ABXYZ')
    for a,b,x,y,z in np.nditer([ PostalCode.T, Borough.T, Neighbourhood.T, latData.T, longData.T], order='C'):
        writer.writerow([a,b,x,y,z])

In [35]:
import csv
with open('data.csv') as csvfile:
     reader = csv.DictReader(csvfile)
     for row in reader:
         print(row['A'], row['B'],row['X'], row['Y'], row['Z'])

M1H Scarborough Woburn 43.7598243 -79.2252908
M1B Scarborough Malvern 43.8091955 -79.2217008
M1C Scarborough Highland_Creek 43.7901172 -79.1733344
M1G  Scarborough Morningside 43.7826012 -79.2049579

In [36]:
pd.read_csv('data.csv')

      A            B               X          Y          Z
0   M1H  Scarborough          Woburn  43.759824 -79.225291
1   M1B  Scarborough         Malvern  43.809196 -79.221701
2   M1C  Scarborough  Highland_Creek  43.790117 -79.173334
3  M1G   Scarborough     Morningside  43.782601 -79.204958

In [37]:
df_geopy['address']=df_geopy['PostalCode'] + ',' + df_geopy['Borough'] + ','+ df_geopy['Neighbourhood']
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address
0,M3A,North York,Parkwoods,"M3A,North York,Parkwoods"
1,M4A,North York,Victoria Village,"M4A,North York,Victoria Village"
2,M5A,Downtown Toronto,Harbourfront,"M5A,Downtown Toronto,Harbourfront"

In [45]:
n2=nom.geocode('M1E Scarborough Guildwood,Morningside,West Hill')
print(n2)

None

In [46]:
df_geopy['Coordinates'] =df_geopy['address'].apply(nom.geocode)
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address,Coordinates
0,M3A,North York,Parkwoods,"M3A,North York,Parkwoods","(Parkwoods Village Drive, Parkway East, Don Va..."
1,M4A,North York,Victoria Village,"M4A,North York,Victoria Village",None
2,M5A,Downtown Toronto,Harbourfront,"M5A,Downtown Toronto,Harbourfront",None

In [47]:
df_geopy.Coordinates[0]

Location(Parkwoods Village Drive, Parkway East, Don Valley East, North York, Toronto, Golden Horseshoe, Ontario, M3A 1Z5, Canada, (43.7612239, -79.3239857, 0.0))

In [48]:
print(df_geopy.Coordinates[1])

None

In [49]:
df_geopy['latitude']=df_geopy['Coordinates'].apply(lambda x: x.latitude if x !=None else None)
df_geopy['longitude']=df_geopy['Coordinates'].apply(lambda x: x.longitude if x !=None else None)
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address,Coordinates,latitude,longitude
0,M3A,North York,Parkwoods,"M3A,North York,Parkwoods","(Parkwoods Village Drive, Parkway East, Don Va...",43.761224,-79.323986
1,M4A,North York,Victoria Village,"M4A,North York,Victoria Village",None,NaN,NaN
2,M5A,Downtown Toronto,Harbourfront,"M5A,Downtown Toronto,Harbourfront",None,NaN,NaN

In [50]:
df_geopy.to_csv('geo_loc_py.csv')

In [51]:
print('The latitude of', df_geopy.address[0],  'is', df_geopy.latitude[0], 'and its longitude is',df_geopy.longitude[0])

The latitude of M3A,North York,Parkwoods is 43.7612239 and its longitude is -79.3239857

In [52]:
import pandas as pd

In [55]:
data2 = pd.read_csv("geopy.csv")
data2.head()

,Unnamed: 0,PostalCode,Borough,Neighbourhood,address
0,0,M3A,North York,Parkwoods,"M3A, North York, Parkwoods"
1,1,M4A,North York,Victoria Village,"M4A, North York, Victoria Village"
2,2,M5A,Downtown Toronto,Harbourfront,"M5A, Downtown Toronto, Harbourfront"

In [58]:
data3 = pd.read_csv("http://cocl.us/Geospatial_data") 
data3.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [59]:
data3.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)

In [60]:
data1 = pd.merge(data3, data2, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

data1.head()

,PostalCode,Latitude,Longitude,Unnamed: 0,Borough,Neighbourhood,address
0,M3A,43.753259,-79.329656,0,North York,Parkwoods,"M3A, North York, Parkwoods"
1,M4A,43.725882,-79.315572,1,North York,Victoria Village,"M4A, North York, Victoria Village"
2,M5A,43.654260,-79.360636,2,Downtown Toronto,Harbourfront,"M5A, Downtown Toronto, Harbourfront"

In [61]:
cols = data1.columns.tolist()
cols

['PostalCode',
 'Latitude',
 'Longitude',
 'Unnamed: 0',
 'Borough',
 'Neighbourhood',
 'address']

In [63]:
new_column_order = ['PostalCode','Borough','Neighbourhood','Latitude','Longitude']
new_column_order

['PostalCode', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']

In [64]:
data1 = data1[new_column_order]
sorted_df = data1.sort_values([ 'Neighbourhood', 'Latitude'], ascending=[True, True])

In [65]:
sorted_df.reset_index(inplace=True)
sorted_cols =sorted_df.columns.tolist()

In [66]:
new_column_order2 = ['PostalCode','Borough','Neighbourhood','Latitude','Longitude']
new_column_order2

['PostalCode', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']

In [67]:
sorted_dataframe = sorted_df[new_column_order]
sorted_dataframe.head()

  PostalCode           Borough     Neighbourhood   Latitude  Longitude
0        M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
1        M3A        North York         Parkwoods  43.753259 -79.329656
2        M4A        North York  Victoria Village  43.725882 -79.315572